.contText {
  position: relative;
  padding-left: 10vw;
}

.heroTitle {
  font-size: 64px;
}

.heroSubtitle {
  display: flex;
}

@media (max-width: 768px) {
  .contText {
    width: 100%;
    text-align: center;
  }
  .heroSubtitle {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .contText {
    width: 100%;
    text-align: center;
    padding-left: 0px;
  }
  .heroSubtitle {
    justify-content: center;
  }
}
